.addingList{
    /* height:100vh; */
    width:400px;
    display:flex;
    flex-direction:column;
}
.add, .return, .home{
    width:20%;
}
#controls{
    display:flex;
    gap:20px;
}
.blogs{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.parent,.super{
    display:flex;
    flex-direction:column;
    /* display:block */
}
